.iconBtn {
	padding: 0;
	margin: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;

	width: 1rem;
	height: 1rem;
}

.iconBtn:active,
.iconbtn:hover,
.iconBtn:focus {
	outline: none;
}

.close {
	height: 1rem;
}

.cart {
	min-width: 25rem;
	max-width: 30rem;
	padding: 1rem;
	background-color: white;
	color: var(--dark);
	opacity: 98%;
	/* border-radius: 0.2rem; */
	box-shadow: 0.1rem 0.1rem 0.3rem #656565b6;
	border: 1px solid #ececec;
	transform-origin: var(--radix-dropdown-menu-content-transform-origin);
	animation: scaleIn 0.5s ease-out;
}

@keyframes scaleIn {
	from {
		opacity: 0;
		transform: scale(0);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

.cartEmpty {
	margin: 2rem auto;
}
.badgeBtn {
	position: relative;
}
.badge {
	margin: 0;
	display: inline-block;
	background-color: var(--accentL);
	line-height: 1rem;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	position: absolute;
	margin-top: -0.5rem;
	left: 1rem;
	right: -2rem;
	font-size: 0.5rem;
	font-weight: 600;
	/* color: white; */
}
.separator {
	border: 1px solid #ececec;
}

.label {
	display: flex;
	margin: 1rem;
	font-weight: 600;
	color: var(--dark);
}

.rightslot {
	margin-left: auto;
	padding-left: 20px;
	height: 1rem;
}
[data-highlighted] > .RightSlot {
	color: white;
}
[data-disabled] .RightSlot {
	color: var(--mauve8);
}

.link {
	margin-top: 1rem;
	color: var(--greyT);
	text-align: center;
}
.link:hover {
	color: var(--boldT);
}
