.container {
	width: 100%;
}

.content {
	width: 25rem;
	margin: 0 auto;
	padding: 2rem;
	color: var(--greyT);
	
}
.centerY {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	padding: 2rem;
	text-align: left;
	background-color: var(--light);
}
.titleL,
.title {
	font-size: 1.2rem;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	color: var(--darkT);
	text-shadow: 0.05rem 0.05rem 0.05rem #808080b6;
}

.titleL {
	text-decoration: underline;
	cursor: pointer;
	font-size: 1rem;
}

.block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
	width: 50%;
	padding: 1.5rem;
	background-color: var(--light);
	border: none;
	box-shadow: 0.05rem 0.05rem 1rem var(--boldT);
	
}

.timeGrid{
	display: grid;
	grid-template-columns:  1fr 1fr 0.5fr;
	grid-auto-rows: auto;
	row-gap: 1rem;
	padding-top: 1rem;
	color: var(--dark);
	font-weight: 600;
}
