.svg {
	width: 24px;
	height: 24px;
	/* stroke-width: 2px; */
	/* fill: var(--darkT); */
	stroke: var(--darkT);
	background-color: transparent;
}
.svg:hover,
.svg:active,
.svg:focus {
	/* fill: var(--accent); */
	stroke: var(--accentL);
}

.iconBtn {
	padding: 0;
	margin: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.iconBtn:active,
.iconBtn:hover,
.iconBtn:focus {
	outline: none;
}

.red{
	padding: 0;
	margin: 0;
	border: none;
	 background-color: transparent; 
	cursor: pointer;
	
	color: #ef4444;
}

.red:hover,
.red:active,
.red:focus {
	stroke:var(--accentL);
	outline:none;
}

