.btn {
	width: 100%;
	padding: 0.6rem 1rem;
	font-family: inherit;
	font-size: 0.9rem;
	font-weight: 700;
	text-transform: uppercase;
	border: none;
	background-color: var(--dark);
	color: var(--light);
	text-transform: uppercase;
	cursor: pointer;
	text-shadow: 0.1rem 0.1rem 0.3rem #656565b6;
	box-shadow: 0.1rem 0.1rem 0.3rem #656565b6;
	transition: all 0.5s ease-out;
}

.btn:hover,
.btn:active,
.btn:focus {
	opacity: 80%;
}
